[core]
	editor = vim
[user]
	name = azrsh
	email = 46126763+azrsh@users.noreply.github.com
[init]
	defaultBranch = main
	templateDir = ~/.config/git/template
[alias]
	default-branch = symbolic-ref refs/remotes/origin/HEAD
	branch-prune = "!function f() {\n  git for-each-ref refs/heads/ \"--format=%(refname:short)\" |\n    while read branch; do\n      ancestor=$(git merge-base $(git default-branch) $branch) &&\n        [[ $(git cherry $(git default-branch)  $(git commit-tree $(git rev-parse $branch^{tree}) -p $ancestor -m _)) == \"-\"* ]] &&\n        git branch -D $branch\n    done\n}; f"
[diff]
	tool = vimdiff
[push]
	autoSetupRemote = true
[include]
	path = ~/.gitconfig.local
