[submodule "tool/5fe3daef7f4a81c076e735e4452fe656"]
	path = tool/5fe3daef7f4a81c076e735e4452fe656
	url = https://gist.github.com/5fe3daef7f4a81c076e735e4452fe656.git
	ignore = dirty
[submodule "tool/39dede61c4b05ffe4b618bf954a91289"]
	path = tool/39dede61c4b05ffe4b618bf954a91289
	url = https://gist.github.com/39dede61c4b05ffe4b618bf954a91289.git
	ignore = dirty
[submodule "tool/e0a0ccda7cbf2fe345f1ca6c5bd38d47"]
	path = tool/e0a0ccda7cbf2fe345f1ca6c5bd38d47
	url = https://gist.github.com/e0a0ccda7cbf2fe345f1ca6c5bd38d47.git
	ignore = dirty
[submodule "tool/b8c3ff4907f6e2704cd2b7b9d611f57c"]
	path = tool/b8c3ff4907f6e2704cd2b7b9d611f57c
	url = https://gist.github.com/b8c3ff4907f6e2704cd2b7b9d611f57c.git
	ignore = dirty
[submodule "tool/b7755a78253075c22531f88cd4355b7c"]
	path = tool/b7755a78253075c22531f88cd4355b7c
	url = https://gist.github.com/b7755a78253075c22531f88cd4355b7c
	ignore = dirty
[submodule "tool/377ca86cdaf119bb61cca8e0a2880217"]
	path = tool/377ca86cdaf119bb61cca8e0a2880217
	url = https://gist.github.com/377ca86cdaf119bb61cca8e0a2880217.git
	ignore = dirty
[submodule "tool/91149d024587e1feaf37ebf5913bb3c1"]
	path = tool/91149d024587e1feaf37ebf5913bb3c1
	url = https://gist.github.com/91149d024587e1feaf37ebf5913bb3c1.git
	ignore = dirty
[submodule "config/vim/.vim/pack/lsp/start/async.vim"]
	path = config/vim/.vim/pack/lsp/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "config/vim/.vim/pack/lsp/start/asyncomplete.vim"]
	path = config/vim/.vim/pack/lsp/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "config/vim/.vim/pack/lsp/start/asyncomplete-lsp.vim"]
	path = config/vim/.vim/pack/lsp/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "config/vim/.vim/pack/lsp/start/vim-lsp"]
	path = config/vim/.vim/pack/lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "config/vim/.vim/pack/lsp/start/vim-lsp-settings"]
	path = config/vim/.vim/pack/lsp/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "config/nvim/.config/nvim/pack/lsp/start/nvim-lspconfig"]
	path = config/nvim/.config/nvim/pack/lsp/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "config/vim/.vim/pack/github/start/copilot.vim"]
	path = config/vim/.vim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
